

.error {
    margin: 0 9px;
    background-color: #a94a3a;
    border-radius: 5px;
    padding: 4px 9px;
}

.error .message {
    padding-top: 4px;
    margin-left: 4px;
    font-size: .8em;
}
.closeButton:hover {
    cursor: pointer;
}